{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}时间管理{% endblock %}

{% block page_content %}
<div class='table-responsive'>
		<table class='table table-striped'>
			<thead><tr><th>姓名</th><th>日期</th><th>上班时间</th><th>下班时间</th><th>迟到时间</th></thead>
			<tbody>
				{% for record in records%}
				<tr>
					<td>{{name}}</td>
					<td>{{record.get('date')}}</td>
					<td>{{record.get('in_time')}}</td>
					<td>{{record.get('out_time')}}</td>
					<td>{{record.get('late').get('hour')}}小时{{record.get('late').get('minutes')}}分钟</td>
					<td>
						<a href = #">编辑</a>/
						<a href = #">删除</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		合计：{{total}}
</div>

{% if pagination %}
<div class = 'pagination'>
	{{ macros.pagination_widget(pagination,endpoint='.manage',name=name) }}
</div>
{% endif %}
{% endblock %}